.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-grey-light-1);
	box-shadow: var(--shadow-dark);

	min-height: 50rem;

	@media only screen and (max-width: $bp-largest) {
		margin: 0;
		max-width: 100%;
		width: 100%;
		min-height: 0;
	}
}

.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: #fff;
	border-bottom: 1px solid var(--color-grey-light-2);

	display: flex;
	align-items: center;
	justify-content: space-between;

	@media only screen and (max-width: $bp-smallest) {
		flex-wrap: wrap;
		align-content: space-around;
		height: 12rem;
	}
}

.content {
	display: flex;

	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
	}
}

.sidebar {
	background-color: var(--color-grey-dark-1);

	// flex-grow flex-shrink flex-basis size
	flex: 0 0 18%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-view {
	// flex-grow 1 means that the element will take up as much space as possible
	flex: 1;
}

.detail {
	display: flex;
	padding: 4.5rem;
	background-color: var(--color-grey-light-1);
	border-bottom: 1px solid var(--color-grey-light-2);
	font-size: 1.4rem;

	@media only screen and (max-width: $bp-medium) {
		padding: 3rem;
	}

	@media only screen and (max-width: $bp-small) {
		flex-direction: column;
	}
}

.description {
	box-shadow: var(--shadow-light);
	font-size: 1.4rem;
	padding: 3rem;
	flex: 0 0 60%;
	margin-right: 4.5rem;
	background-color: #fff;

	@media only screen and (max-width: $bp-medium) {
		padding: 2rem;
		margin-right: 3rem;
	}

	@media only screen and (max-width: $bp-small) {
		margin-right: 0;
		margin-bottom: 3rem;
	}
}

.user-reviews {
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
}
