.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .4);
    position: absolute;
    transition: all 0.2s;
    outline-offset: 2rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.333333%;
      box-shadow: 0 1.5rem 3rem rgba($color: #000000, $alpha: .2);
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        transform: scale(1.2);
        top: 0;
      }
    }

    &--p2 {
      right: 0rem;
      top: 2rem;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 1;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include respond(tab-port) {
        left: 0;
        transform: scale(1.1);
        top: 1rem;
      }
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.1) translateY(-1rem);

      @include respond(tab-port) {
        transform: scale(1.4);
      }

      box-shadow: 0 2.5rem 4rem rgba($color: #000000, $alpha: .5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);

    @include respond(tab-port) {
      transform: scale(1.05);
    }
  }
}
