.row {
  max-width: $grid-width;
  background-color: #eee;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    background-color: orangered;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horitzontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horitzontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - #{$gutter-horitzontal} * 2) / 3);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - #{$gutter-horitzontal} * 2) / 3) + #{$gutter-horitzontal});
  }

  .col-1-of-4 {
    width: calc((100% - #{$gutter-horitzontal} * 3) / 4);
  }
  
  .col-2-of-4 {
    width: calc((2 * (100% - #{$gutter-horitzontal} * 3) / 4) + #{$gutter-horitzontal});
  }

  .col-3-of-4 {
    width: calc((3 * (100% - #{$gutter-horitzontal} * 3) / 4) + 2 * #{$gutter-horitzontal});
  }
}
